@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;padding: 0;box-sizing: border-box ;border-radius: 5px;  scroll-behavior: smooth;

}

body{
   background-color: rgb(230, 227, 227)
}

@layer utilities{
    .flex-center{
        @apply flex items-center justify-center ;
    }
    .animate-click{
        @apply transition active:scale-75 ;
    }

    
}


/*========== CUSTOM SCROL-BAR===========*/
::-webkit-scrollbar {
    width: 10px;
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 2em;
    background: #a98700;
  }
  


